Backaup parts^



https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js
https://unpkg.co/gsap@3/dist/gsap.min.js
https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js
https://cdn.jsdelivr.net/gh/ilja-van-eck/osmo/assets/gsap/InertiaPlugin.min.js
https://cdn.jsdelivr.net/gh/ilja-van-eck/osmo/assets/gsap/InertiaPlugin.min.js




_____________
<!-- Elfsight All-in-One Chat | Untitled All-in-One Chat -->
<!-- <script src="https://static.elfsight.com/platform/platform.js" async></script> -->
<!-- <div class="elfsight-app-910c3c72-af3d-4436-a387-fc929db98d65" data-elfsight-app-lazy></div> -->
/*</body>*/
/*.elfsight-app-910c3c72-af3d-4436-a387-fc929db98d65{@apply m-0 p-0;height:0!important;overflow:hidden!important}div[class*="elfsight-app"]{@apply m-0 p-0}div[class*="elfsight-app"] iframe{@apply fixed bottom-5 right-5 z-[9999]}*/

